(
    accent: {
        "main": (
            rules: {
                "$": {"Any": [
                    {"Literal": " HONK!"},
                    {"Literal": " HONK HONK!"},
                ]},
            },
        )
    },
    intensities: {
        1: Extend({
            "main": (
                rules: {
                    "$": {"Any": [
                        {"Literal": " HONK HONK!"},
                        {"Literal": " HONK HONK HONK!"},
                    ]},
                },
            ),
        }),
        2: Extend({
            "main": (
                rules: {
                    ".+": {"Upper": {"Original": ()}},
                    "$": {"Any": [
                        {"Literal": " HONK HONK HONK!"},
                        {"Literal": " HONK HONK HONK HONK!"},
                    ]},
                },
            ),
        }),
        3: Extend({
            "main": (
                rules: {
                    "$": {"Any": [
                        {"Literal": " HONK HONK HONK HONK!"},
                        {"Literal": " HONK HONK HONK HONK HONK!!!!!!!"},
                    ]},
                }
            ),
        }),
    },
)
