(
    words: [
        // swap 2 words
        (r"(\w+)(\s+)(\w+)", Weights([
            (9, Original),
            (1, Simple("$3$2$1")),
        ])),
    ],
    patterns: [
        // swap 2 letters
        (r"([a-zA-Z])([a-zA-Z])", Weights([
            (9, Original),
            (1, Simple("$2$1")),
        ])),
    ],
    intensities: {
        1: Replace((
            words: [
                (r"(\w+)(\s+)(\w+)", Weights([
                    (8, Original),
                    (2, Simple("$3$2$1")),
                ])),
            ],
            patterns: [
                (r"([a-zA-Z])([a-zA-Z])", Weights([
                    (8, Original),
                    (2, Simple("$2$1")),
                ])),
            ],
        )),
        2: Replace((
            words: [
                (r"(\w+)(\s+)(\w+)", Weights([
                    (7, Original),
                    (3, Simple("$3$2$1")),
                ])),
            ],
            patterns: [
                (r"([a-zA-Z])([a-zA-Z])", Weights([
                    (7, Original),
                    (3, Simple("$2$1")),
                ])),
            ],
        )),
    }
)
