(
    accent: [
        (
            name: "patterns",
            rules: {
                "[rlv]": {"Literal": "w"},
                "ove": {"Literal": "uv"},
                "ni": {"Literal": "nye"},
                "na": {"Literal": "nya"},
                "no": {"Literal": "nyo"},
                "ne": {"Literal": "nye"},
                "nu": {"Literal": "nyu"},
                "!": {"Literal": "! owo"},
                // 10% for prefix
                "^": {"Weights": {
                    1: {"Any": [
                        {"Literal": "!!! "},
                        {"Literal": "(=^‥^=) "},
                        {"Literal": "~~ "},
                        {"Literal": "🐾 "},
                        {"Literal": "ヾ(=｀ω´=)ノ” "},
                        {"Literal": ":3 "},
                        {"Literal": "ama "},
                        {"Literal": "baka "},
                        {"Literal": "boop "},
                        {"Literal": "burunya "},
                        {"Literal": "chan "},
                        {"Literal": "chuu "},
                        {"Literal": "desu "},
                        {"Literal": "doki "},
                        {"Literal": "domo "},
                        {"Literal": "etto "},
                        {"Literal": "fuwa "},
                        {"Literal": "gato "},
                        {"Literal": "heto "},
                        {"Literal": "hewo "},
                        {"Literal": "icha "},
                        {"Literal": "ira "},
                        {"Literal": "kawaii "},
                        {"Literal": "kis "},
                        {"Literal": "kit "},
                        {"Literal": "kun "},
                        {"Literal": "kusu "},
                        {"Literal": "kyaa "},
                        {"Literal": "kyun "},
                        {"Literal": "mahou "},
                        {"Literal": "mimi "},
                        {"Literal": "moe "},
                        {"Literal": "mofu "},
                        {"Literal": "munya "},
                        {"Literal": "munyu "},
                        {"Literal": "neko "},
                        {"Literal": "nya "},
                        {"Literal": "Nya "},
                        {"Literal": "nyaa "},
                        {"Literal": "nyan "},
                        {"Literal": "ori "},
                        {"Literal": "owo "},
                        {"Literal": "OwO "},
                        {"Literal": "poka "},
                        {"Literal": "puni "},
                        {"Literal": "puru "},
                        {"Literal": "san "},
                        {"Literal": "shiku "},
                        {"Literal": "sou "},
                        {"Literal": "suki "},
                        {"Literal": "sune "},
                        {"Literal": "ufufu "},
                        {"Literal": "uhuhu "},
                        {"Literal": "usagi "},
                        {"Literal": "uwa "},
                        {"Literal": ">w< "},
                        {"Literal": "^w^ "},
                        {"Literal": "*wings tail* "},
                        {"Literal": "yatta "},
                        {"Literal": "yori "},
                        {"Literal": "zaazaa "},
                        {"Literal": "(=；ｪ；=) "},
                    ]},
                    9: {"Original": ()},
                }},
                // 80% for ending
                "$": {"Weights": {
                    8: {"Any": [
                        {"Literal": " !!!"},
                        {"Literal": " (=^‥^=)"},
                        {"Literal": " ~~"},
                        {"Literal": " 🐾"},
                        {"Literal": " ヾ(=｀ω´=)ノ”"},
                        {"Literal": " :3"},
                        {"Literal": " ama"},
                        {"Literal": " baka"},
                        {"Literal": " boop"},
                        {"Literal": " burunya"},
                        {"Literal": " chan"},
                        {"Literal": " chuu"},
                        {"Literal": " desu"},
                        {"Literal": " doki"},
                        {"Literal": " domo"},
                        {"Literal": " etto"},
                        {"Literal": " fuwa"},
                        {"Literal": " gato"},
                        {"Literal": " heto"},
                        {"Literal": " hewo"},
                        {"Literal": " icha"},
                        {"Literal": " ira"},
                        {"Literal": " kawaii"},
                        {"Literal": " kis"},
                        {"Literal": " kit"},
                        {"Literal": " kun"},
                        {"Literal": " kusu"},
                        {"Literal": " kyaa"},
                        {"Literal": " kyun"},
                        {"Literal": " mahou"},
                        {"Literal": " mimi"},
                        {"Literal": " moe"},
                        {"Literal": " mofu"},
                        {"Literal": " munya"},
                        {"Literal": " munyu"},
                        {"Literal": " neko"},
                        {"Literal": " nya"},
                        {"Literal": " Nya"},
                        {"Literal": " nyaa"},
                        {"Literal": " nyan"},
                        {"Literal": " ori"},
                        {"Literal": " owo"},
                        {"Literal": " OwO"},
                        {"Literal": " poka"},
                        {"Literal": " puni"},
                        {"Literal": " puru"},
                        {"Literal": " san"},
                        {"Literal": " shiku"},
                        {"Literal": " sou"},
                        {"Literal": " suki"},
                        {"Literal": " sune"},
                        {"Literal": " ufufu"},
                        {"Literal": " uhuhu"},
                        {"Literal": " usagi"},
                        {"Literal": " uwa"},
                        {"Literal": " >w<"},
                        {"Literal": " ^w^"},
                        {"Literal": " *wings tail*"},
                        {"Literal": " yatta"},
                        {"Literal": " yori"},
                        {"Literal": " zaazaa"},
                        {"Literal": " (=；ｪ；=)"},
                    ]},
                    2: {"Original": ()},
                }},
            },
        ),
    ]
)
