(
    accent: {
        "words": (
            format: r"(?-u)\<{}\>",
            rules: {
                "my": {"Literal": "our"},
                "friend": {"Literal": "comrade"},
                "(:?enemy|foe)": {"Literal": "american pig"},
                "(:?fuck|shit)": {"Any": [
                    {"Literal": "blyat"},
                    {"Literal": "cyka"},
                ]},
            },
        ),
        "patterns": (
            name: "patterns",
            rules: {
                r"(?-u)\<(:?a|the) +": {"Weights": {
                    1: {"Original": ()},
                    1: {"Delete": ()},
                }},
                r"(?-u)\<ha": {"Literal": "ga"},
                r"(?-u)\Bo?u": {"Any": [
                    {"Literal": "a"},
                    {"Literal": "oo"},
                ]},
                "th": {"Any": [
                    {"Literal": "z"},
                    {"Literal": "g"},
                ]},
                "w": {"Literal": "v"},
            }
        ),
        "ending": (
            rules: {
                "$": {"Weights": {
                    1: {"Original": ()},
                    1: {"Any": [
                        {"Literal": " cyka"},
                        {"Literal": " blyat"},
                    ]},
                }},
            },
        ),
    },
    intensities: {
        1: Extend({
            "ending": (
                rules: {
                    "$": {"Any": [
                        {"Literal": " cyka"},
                        {"Literal": " blyat"},
                    ]},
                },
            ),
        }),
    }
)
