(
    patterns: [
        ("a", Concat(Simple("first"), Original)),
        ("VeryLongNonExistent12344343243244234", Concat(Original, Simple("Simple"))),
        ("you", Concat(Simple("left"), Simple("right"))),
    ],
)
