(
    accent: [
        (
            name: "",
            rules: {
                // varying string lenghts
                r"\w+": {"Original": ()},
                r"\W+": {"Original": ()},
            },
        ),
    ]
)
