(
    patterns: [
        ("a", {"Weights": [(1, {"Literal": "B"})]}),
        ("VeryLongNonExistent12344343243244234", {"Weights": [(10000, {"Original": ()})]}),
        ("you", {"Weights": [
            (1, {"Weights": [(1, {"Literal": "1"})]}),
            (2, {"Weights": [(1, {"Literal": "2"})]}),
            (3, {"Weights": [(1, {"Literal": "3"})]}),
            (4, {"Weights": [(1, {"Literal": "4"})]}),
            (5, {"Weights": [(1, {"Literal": "5"})]}),
            (6, {"Weights": [(1, {"Literal": "6"})]}),
            (7, {"Weights": [(1, {"Literal": "7"})]}),
            (8, {"Weights": [(1, {"Literal": "8"})]}),
            (9, {"Weights": [(1, {"Literal": "9"})]}),
        ]}),
    ],
)
